$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$mdi-font-path: "../bower_components/mdi/fonts/";

$tl-timeline-text-color: #ccc;
$tl-timeline-selected-text-color: #fff785;

$tl-color-cyan: #4fddd4;
//$tl-color-blue: #2898c7;
$tl-color-blue: $tl-color-cyan;
$tl-color-yellow: #e3a616;
$tl-color-orange: #e14a0f;
$tl-color-green: #82ad1a;
$tl-color-purple: #b553c0;
$tl-color-white: #d9d4c9;

$tl-accent-blue: #40c4ff;

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// bower:scss
@import "mdi/scss/materialdesignicons.scss";
// endbower

@import "icomoon-timeliner.css";

$tl-timeline-visible-border-bottom-color: #23252b;

@mixin tl-rounded-image() {
  border-radius: 50%;
}

@mixin tl-rotate($value) {
  -ms-transform: rotate($value);
  -webkit-transform: rotate($value);
  transform: rotate($value);
}

a {
  color: #2898c7;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page footer */
.footer {
  color: #777;
}

.tl-current-user-image {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  @include tl-rounded-image;
}

.tl-projectlist-owner-image {
  max-height: 40px;
  vertical-align: middle;
  @include tl-rounded-image;
}

.tl-participants-block {
  display: inline-block;

  .tl-participant {
    max-height: 35px;
    vertical-align: middle;
    @include tl-rounded-image;
    margin-left: 1px;
    margin-right: 1px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

md-chips .md-chip {
  height: 25px;
  padding-top: 0px;
  text-align: center;
  color: #fff;
  border-radius: 10px;

  // TODO temporary hardcoded colors, should use mdColor if it becomes available in ngMaterial 1.1.0
  &.accent {
    background-color: #4fbe78;
  }
  &.primary {
    background-color: #374752;
  }
  &.warn {
    background-color: #f64203;
  }
}

/* Custom validation errors for datepicker */
.validation-messages {
  font-size: 12px;
  color: #dd2c00;
  margin: 10px 0 0 25px;
}

/* Custom toast theming for messages */
md-toast.md-info-toast-theme {
  .md-toast-content {
    background-color: blue;
  }
}

md-toast.md-success-toast-theme {
  .md-toast-content {
    background-color: green;
  }
}

md-toast.md-warning-toast-theme {
  .md-toast-content {
    background-color: orange;
  }
}

md-toast.md-error-toast-theme {
  .md-toast-content {
    background-color: red;
  }
}

/* Sign in buttons */
/*.md-button.tl-facebook-button, .md-button.tl-google-button {
  md-icon {
    font-size: 24px;
  }
}*/
.md-button.tl-facebook-button:not([disabled]), .md-button.tl-facebook-button:not([disabled]):hover {
  background-color: #4c69ba;
  border-color: #4c69ba;
  md-icon {
    color: #fff;
  }
}

.md-button.tl-google-button:not([disabled]), .md-button.tl-google-button:not([disabled]):hover {
  background-color: #d9534f;
  border-color: #d43f3a;
  md-icon {
    color: #fff;
  }
}

.md-button.tl-linkedin-button:not([disabled]), .md-button.tl-linkedin-button:not([disabled]):hover {
  background-color: #337ab7;
  border-color: #2e6da4;
  md-icon {
    color: #fff;
  }
}

/* XXX Temporary colors */
md-icon.tl-add {
  color: #4fbe78;
}

md-icon.tl-remove {
  color: #f64203;
}


/* mdi and icomoon-timeliner tunes */
.mdi , .icomoon-timeliner {
  font-size: 24px;
}

/* timelines */

.vis-timeline {
  border: none;

  [class^="icon-"], [class*=" icon-"], [class^="mdi-"], [class*=" mdi-"] {
    font-size: 30px;
  }

  .vis-panel.vis-left {
    .vis-labelset {
      .vis-label {
        color: $tl-timeline-text-color;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom-color: $tl-timeline-visible-border-bottom-color;
      }
    }
  }

  .vis-foreground {
    .vis-group {
      border-bottom-color: $tl-timeline-visible-border-bottom-color;
    }
  }

  .vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top, .vis-panel.vis-bottom {
    border: none;
  }

  .vis-time-axis {
    .vis-grid {
      border-left-color: #444953;
    }
  }

  .vis-labelset .vis-label {
    color: #7b7e84;
  }

  img.tl-timeline-participant,
  img.tl-timeline-task-participant {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid #fff;
    @include tl-rounded-image;
  }

  .vis-current-time {
    background-color: #e6e0d5;
  }

  .vis-item.vis-range.tl-timeline-project {
    display: initial;
    background-color: #444953;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    .tl-timeline-project-content {
      color: $tl-timeline-text-color;

      .tl-timeline-project-title {
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
        line-height: 30px;
        //font-size: 16px;
        font-weight: 600;
      }

      .tl-timeline-project-participants {
        display: inline-block;

        .tl-timeline-participant {
          margin-left: 1px;
          margin-right: 1px;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }
    }
  }

  .vis-time-axis {
    .vis-text {
      color: $tl-timeline-text-color;
    }
  }

  .vis-item.vis-point.tl-project-timeline-annotation {
    background-color: transparent;

    .icon-note {
      color: #cac5bb;
    }
  }

  .vis-item.vis-dot.tl-project-timeline-annotation {
    display: none;
  }

  .vis-item.vis-box.tl-project-timeline-milestone {
    border: none;
    background-color: transparent;

    .icon-milestone {
      position: relative;
      left: 10.5px;
      bottom: -13px;
    }
  }

  .vis-item.vis-line.tl-project-timeline-milestone {
    border: 1px dashed;
    background-color: transparent;
    z-index: 1;
  }

  .vis-item.vis-point.tl-project-timeline-outcome-version {
    border: none;
    cursor: pointer !important;
    background-color: transparent;

    .icon-file, .mdi {
      color: #cac5bb;
    }
  }

  .vis-item.vis-dot.tl-project-timeline-outcome-version {
    display: none;
  }

  .vis-item.vis-background.tl-project-timeline-outcome-life-span {
    background-color: #444953;
  }

  .vis-item.vis-line, .vis-item.vis-dot, .vis-item.vis-box {
    &.tl-milestone-color-1 {
      border-color: $tl-color-blue;
      .icon-milestone {
        color: $tl-color-blue;
      }
    }
    &.tl-milestone-color-2 {
      border-color: $tl-color-yellow;
      .icon-milestone {
        color: $tl-color-yellow;
      }
    }
    &.tl-milestone-color-3 {
      border-color: $tl-color-orange;
      .icon-milestone {
        color: $tl-color-orange;
      }
    }
    &.tl-milestone-color-4 {
      border-color: $tl-color-green;
      .icon-milestone {
        color: $tl-color-green;
      }
    }
    &.tl-milestone-color-5 {
      border-color: $tl-color-purple;
      .icon-milestone {
        color: $tl-color-purple;
      }
    }
    &.tl-milestone-color-6 {
      border-color: $tl-color-white;
      .icon-milestone {
        color: $tl-color-white;
      }
    }
  }

  .vis-group.tl-project-timeline-outcome {
    &.tl-outcome-color-1 {
      .icon-file, .mdi {
        color: $tl-color-blue;
      }
    }
    &.tl-outcome-color-2 {
      .icon-file, .mdi {
        color: $tl-color-yellow;
      }
    }
    &.tl-outcome-color-3 {
      .icon-file, .mdi {
        color: $tl-color-orange;
      }
    }
    &.tl-outcome-color-4 {
      .icon-file, .mdi {
        color: $tl-color-green;
      }
    }
    &.tl-outcome-color-5 {
      .icon-file, .mdi {
        color: $tl-color-purple;
      }
    }
    &.tl-outcome-color-6 {
      .icon-file, .mdi {
        color: $tl-color-white;
      }
    }
  }

  .vis-label.tl-project-timeline-outcome {
    &.tl-outcome-color-1 {
      border-left: 5px solid $tl-color-blue;
    }
    &.tl-outcome-color-2 {
      border-left: 5px solid $tl-color-yellow;
    }
    &.tl-outcome-color-3 {
      border-left: 5px solid $tl-color-orange;
    }
    &.tl-outcome-color-4 {
      border-left: 5px solid $tl-color-green;
    }
    &.tl-outcome-color-5 {
      border-left: 5px solid $tl-color-purple;
    }
    &.tl-outcome-color-6 {
      border-left: 5px solid $tl-color-white;
    }
  }

  .vis-item-content {
    .tl-annotation-title, .tl-milestone-title, .tl-task-title {
      color: $tl-timeline-text-color;
      font-size: 14px;
    }
    .tl-task-title {
      color: #d4e8f4;
      display: inline-block;
      line-height: 30px;

      .tl-timeline-outcome-icon {
        font-size: 24px;
        color: #ffffff;
        vertical-align: middle;
        padding-right: 5px;
      }
    }

    .tl-timeline-task-content {
      display: inline-block;
      padding: 5px;
      width: 100%;
    }

    .tl-timeline-task-participants,
    .tl-timeline-task-resources {
      display: inline-block;
      margin-left: 20px;
      //float: right;

      .tl-timeline-task-participant {
        margin-left: 1px;
        margin-right: 1px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      .tl-timeline-task-resource {
        font-size: 24px;
        color: #ffffff;
        vertical-align: middle;
      }
    }

    .tl-timeline-task-outcomes {
      display: inline-block;
      height: 100%;
      position: absolute;
      top: 0;

      .tl-timeline-task-outcome {
        display: inline-block;
        //width: 5px;
        height: 100%;

        &.tl-outcome-color-1 {
          border-left: 5px solid $tl-color-blue;
        }
        &.tl-outcome-color-2 {
          border-left: 5px solid $tl-color-yellow;
        }
        &.tl-outcome-color-3 {
          border-left: 5px solid $tl-color-orange;
        }
        &.tl-outcome-color-4 {
          border-left: 5px solid $tl-color-green;
        }
        &.tl-outcome-color-5 {
          border-left: 5px solid $tl-color-purple;
        }
        &.tl-outcome-color-6 {
          border-left: 5px solid $tl-color-white;
        }
      }
    }

  }

  .vis-item.vis-selected {
    .tl-annotation-title, .tl-milestone-title, .tl-task-title {
      color: $tl-timeline-selected-text-color;
    }
  }

  .vis-item.vis-editable {
    .vis-delete {
      display: none;
    }
  }

  .vis-item.vis-range.tl-project-timeline-task {
    background-color: #2aa1d3;
    border: none;

    .vis-item-content {
      display: block;
      padding: 0;
    }
  }
}

#sidebar {
  background-color: #111111;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.floating {
  position: fixed;
  height: 0;
  width: 300px;
  top: 100px;
  z-index: 50;
  padding-bottom: 64px;

  md-content {
    height: 100%;
  }

  .ui-resizable-handle {
    position: relative;
    float: right;
    bottom: 14px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: grey;
    border-bottom-color: grey;

    &:hover {
      cursor: se-resize;
    }
  }
}

.drop-target {
  background-color: rgba(14, 223, 0, 0.34);
  -webkit-box-shadow:inset 0px 0px 0px 2px #40ca0e;
  -moz-box-shadow:inset 0px 0px 0px 2px #40ca0e;
  box-shadow:inset 0px 0px 0px 2px #40ca0e;
}

.tl-color-select {
  display: block;
  padding-top: 5px;

  .tl-color-select-outer {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    outline: none;

    .tl-color-select-inner {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius:4px;
      margin: 5px;
      cursor: pointer;

      &.tl-color-1 {
        background-color: $tl-color-blue;
      }

      &.tl-color-2 {
        background-color: $tl-color-yellow;
      }

      &.tl-color-3 {
        background-color: $tl-color-orange;
      }

      &.tl-color-4 {
        background-color: $tl-color-green;
      }

      &.tl-color-5 {
        background-color: $tl-color-purple;
      }

      &.tl-color-6 {
        background-color: $tl-color-white;
      }
    }
  }

  .tl-color-select-outer.tl-color-selected {
    background-color: #42454b;
    border-radius: 4px;
  }
}

.tl-rotate-180 {
  @include tl-rotate(180deg);
}

.md-fab-action-item {
  .md-button.md-fab.md-mini {
    line-height: 36px;
    width: 36px;
    height: 36px;
  }
}

img.md-avatar, img.tl-current-user-image {
  border: 1px solid #fff;
}

.tl-text-align-center {
  text-align: center;
}

.tl-preserve-line-break {
  white-space: pre-wrap;
}

md-list {
  md-list-item {
    .tl-list-icon {
      padding: 8px;
      margin-right: 10px !important;
    }

    &.tl-activity {
      .md-list-item-text {
        p {
          strong {
            color: rgba(255, 255, 255, 1.0);
          }
        }
      }
    }
  }

  &.md-dense {
    .tl-list-icon {
      //padding: 4px;
    }
  }
}

tl-file-upload {
  .tl-file-input-row-content {
    md-icon.tl-file-icon {
      margin-right: 10px;
    }
    md-icon.tl-file-icon, span.tl-file-name {
      margin-bottom: 10px;
    }
    button.md-button {
      position: relative;
      top: -5px;
    }
  }
}

.md-toolbar-tools.tl-socket-reconnecting {
  background-color: #FF9100;
}

.md-toolbar-tools.tl-socket-disconnected {
  background-color: #FF5252;
}

md-calendar {
  table.md-calendar-day-header {
    background-color: #2e3138;
  }
  table.md-calendar {
    background-color: #42454b;
  }
}

md-menu-content {
  background-color: #42454b;
}

md-autocomplete, md-autocomplete[disabled]:not([md-floating-label]) {
  background-color: #2e3138;
}

.autocomplete-participant-template {
  ul {
    background-color: #42454b;
  }

  li {
    background-color: #42454b;
    border-bottom: 1px solid rgba(255,255,255,0.12);
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: normal;

    &:last-child {
      border-bottom-width: 0;
    }
  }

  .item-image {
    img.md-avatar {
      height: 38px;
      width: 38px;
      border: none;
      @include tl-rounded-image;
      vertical-align: middle;
    }
  }

  .item-content {
    display: inline-block;
    margin-left: 10px;
    line-height: 1;
    color: #ffffff;
    vertical-align: middle;

    span {
      display: block;
    }
  }

  md-not-found {
    color: #ffffff;
  }
}

md-input-container.tl-no-margin-bottom {
  margin-bottom: 0px;
}

.tl-find-participant {
  margin-left: 16px;

  md-input-container {
    margin: 0;
  }
}

img.tl-project-participant-pending {
  filter: opacity(85%) drop-shadow(5px 5px 10px $tl-color-yellow);
}

img.tl-project-participant-placeholder {
  filter: grayscale(100%) drop-shadow(5px 5px 10px $tl-color-orange);
}
