$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$mdi-font-path: "../bower_components/mdi/fonts/";

$tl-color-blue: #2898c7;
$tl-color-yellow: #e3a616;
$tl-color-orange: #e14a0f;
$tl-color-green: #82ad1a;
$tl-color-purple: #b553c0;
$tl-color-white: #d9d4c9;

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// bower:scss
@import "mdi/scss/materialdesignicons.scss";
// endbower

@import "icomoon-timeliner.css";

$tl-timeline-visible-border-bottom-color: #23252b;

@mixin tl-rounded-image() {
  border-radius: 50%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page footer */
.footer {
  color: #777;
}

.tl-current-user-image {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  @include tl-rounded-image;
}

.tl-projectlist-owner-image {
  max-height: 40px;
  vertical-align: middle;
  @include tl-rounded-image;
}

.tl-participants-block {
  display: inline-block;

  .tl-participant {
    max-height: 35px;
    vertical-align: middle;
    @include tl-rounded-image;
    margin-left: 1px;
    margin-right: 1px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

md-chips .md-chip {
  height: 25px;
  padding-top: 0px;
  text-align: center;
  color: #fff;
  border-radius: 10px;

  // TODO temporary hardcoded colors, should use mdColor if it becomes available in ngMaterial 1.1.0
  &.accent {
    background-color: #4fbe78;
  }
  &.primary {
    background-color: #374752;
  }
  &.warn {
    background-color: #f64203;
  }
}

.tooltip-text { // TODO temporary override, see if this has been fixed in newer versions of ngMaterial
  color: #000;
}

/* Custom validation errors for datepicker */
.validation-messages {
  font-size: 12px;
  color: #dd2c00;
  margin: 10px 0 0 25px;
}

/* Custom toast theming for messages */
md-toast.md-info-toast-theme {
  .md-toast-content {
    background-color: blue;
  }
}

md-toast.md-success-toast-theme {
  .md-toast-content {
    background-color: green;
  }
}

md-toast.md-warning-toast-theme {
  .md-toast-content {
    background-color: orange;
  }
}

md-toast.md-error-toast-theme {
  .md-toast-content {
    background-color: red;
  }
}

/* Sign in buttons */
/*.md-button.tl-facebook-button, .md-button.tl-google-button {
  md-icon {
    font-size: 24px;
  }
}*/
.md-button.tl-facebook-button:not([disabled]), .md-button.tl-facebook-button:not([disabled]):hover {
  background-color: #4c69ba;
  border-color: #4c69ba;
  md-icon {
    color: #fff;
  }
}

.md-button.tl-google-button:not([disabled]), .md-button.tl-google-button:not([disabled]):hover {
  background-color: #d9534f;
  border-color: #d43f3a;
  md-icon {
    color: #fff;
  }
}

.md-button.tl-linkedin-button:not([disabled]), .md-button.tl-linkedin-button:not([disabled]):hover {
  background-color: #337ab7;
  border-color: #2e6da4;
  md-icon {
    color: #fff;
  }
}

/* XXX Temporary colors */
md-icon.tl-add {
  color: #4fbe78;
}

md-icon.tl-remove {
  color: #f64203;
}


/* mdi and icomoon-timeliner tunes */
.mdi , .icomoon-timeliner {
  font-size: 24px;
}

/* timelines */

.vis-timeline {
  border: none;

  .vis-panel.vis-left {
    .vis-labelset {
      .vis-label {
        border-bottom-color: $tl-timeline-visible-border-bottom-color;
      }
    }
  }

  .vis-foreground {
    .vis-group {
      border-bottom-color: $tl-timeline-visible-border-bottom-color;
    }
  }

  .vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top, .vis-panel.vis-bottom {
    border: none;
  }

  .vis-time-axis {
    .vis-grid {
      border-left-color: #444953;
    }
  }

  .vis-labelset .vis-label {
    color: #7b7e84;
  }

  img.tl-timeline-participant {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid #fff;
    @include tl-rounded-image;
  }

  .vis-current-time {
    background-color: #e6e0d5;
  }

  .vis-item.vis-range.tl-timeline-project {
    display: initial;
    background-color: #444953;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    .tl-timeline-project-content {
      color: #ccc;

      .tl-timeline-project-title {
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
        line-height: 30px;
        //font-size: 16px;
        font-weight: 600;
      }

      .tl-timeline-project-participants {
        display: inline-block;

        .tl-timeline-participant {
          margin-left: 1px;
          margin-right: 1px;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }
    }
  }

  .vis-time-axis {
    .vis-text {
      color: #ccc;
    }
  }

  .vis-item.vis-point.tl-project-timeline-annotation {
    .icon-note {
      color: #cac5bb;
      font-size: 30px;
    }
  }

  .vis-item.vis-dot.tl-project-timeline-annotation {
    display: none;
  }

  .vis-item.vis-box.tl-project-timeline-milestone {
    border: none;
    background-color: transparent;

  }

  .vis-item.vis-line.tl-project-timeline-milestone {
    border: 1px dashed;
    background-color: transparent;
    z-index: 1;
  }

  .vis-item.vis-line, .vis-item.vis-dot, .vis-item.vis-box {
    &.tl-milestone-color-1 {
      border-color: $tl-color-blue;
      .icon-milestone {
        color: $tl-color-blue;
      }
    }
    &.tl-milestone-color-2 {
      border-color: $tl-color-yellow;
      .icon-milestone {
        color: $tl-color-yellow;
      }
    }
    &.tl-milestone-color-3 {
      border-color: $tl-color-orange;
      .icon-milestone {
        color: $tl-color-orange;
      }
    }
    &.tl-milestone-color-4 {
      border-color: $tl-color-green;
      .icon-milestone {
        color: $tl-color-green;
      }
    }
    &.tl-milestone-color-5 {
      border-color: $tl-color-purple;
      .icon-milestone {
        color: $tl-color-purple;
      }
    }
    &.tl-milestone-color-6 {
      border-color: $tl-color-white;
      .icon-milestone {
        color: $tl-color-white;
      }
    }
  }

  .vis-item.vis-editable {
    .vis-delete {
      display: none;
    }
  }
}
