<form name="newProjectForm" ng-submit="submit()">
  <div class="modal-header">
    <h3 class="modal-title">What is the <strong>title and time plan</strong> for your project?</h3>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" ng-class="{'has-error': newProjectForm.title.$error.required && newProjectForm.title.$dirty}">
        <p class="input-group">
          <input type="text" name="title" class="form-control" ng-model="model.title" placeholder="Project title" style="" ng-required="true" ng-disable="updating">
          <span class="text-danger" ng-show="newProjectForm.title.$error.required && newProjectForm.title.$dirty">Title is required</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3" ng-class="{'has-error': newProjectForm.start.$error.required && newProjectForm.start.$dirty}">
        <p class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <input type="text" name="start" class="form-control" ng-model="model.start" uib-datepicker-popup="{{format}}" is-open="popupStart.opened" datepicker-options="dateOptions" ng-required="true" ng-disable="updating" close-text="Close" placeholder="pick start date">
          <span class="text-danger" ng-show="newProjectForm.start.$error.required && newProjectForm.start.$dirty">Start date is required</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          <input type="text" class="form-control" ng-model="model.end" uib-datepicker-popup="{{format}}" is-open="popupEnd.opened" ng-required="false" ng-disable="updating" close-text="Close" placeholder="pick end date" />
        </p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" ng-disable="updating">Dismiss</button>
    <button type="submit" class="btn btn-success" ng-disabled="updating || newProjectForm.$invalid">Finish</button>
  </div>
</form>
