<md-dialog flex="70">
  <md-progress-linear md-mode="indeterminate" ng-show="updating"></md-progress-linear>

  <form name="outcomeForm" ng-submit="submit()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-if="!isEdit()" translate>VIEWS.PROJECT.CREATE_UPDATE_OUTCOME.CREATE_HEADLINE</h2>
        <h2 ng-if="isEdit()" translate>VIEWS.PROJECT.CREATE_UPDATE_OUTCOME.UPDATE_HEADLINE</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" ng-disabled="updating">
          <md-icon aria-label="{{ 'GENERAL.CLOSE' | translate }}">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" class="md-dialog-content">
        <md-input-container class="md-block">
          <label><translate>GENERAL.FORM.TITLE</translate> <translate>GENERAL.FORM.REQUIRED_EXT</translate></label>
          <input type="text" name="title" ng-model="model.title" ng-disabled="updating" md-maxlength="50" required md-autofocus>
          <div ng-messages="outcomeForm.title.$error">
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
            <div ng-message="md-maxlength" translate translate-values="{LENGTH: 50}">GENERAL.FORM.MESSAGES.MAX_LENGTH</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label><translate>GENERAL.FORM.DESCRIPTION</translate></label>
          <textarea ng-model="model.description" name="description" md-maxlength="150" rows="3" md-placeholder="{{ 'GENERAL.FORM.DESCRIPTION' | translate }}" ng-disabled="updating"></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <label  ng-if="!isEdit() "class="md-container-ignore"><translate>VIEWS.PROJECT.CREATE_UPDATE_OUTCOME.FILE_CREATE</translate></label>
          <label  ng-if="isEdit() "class="md-container-ignore"><translate>VIEWS.PROJECT.CREATE_UPDATE_OUTCOME.FILE_UPDATE</translate></label>
          <tl-file-upload ng-model="model.file" name="file" ng-disabled="updating" ng-required="!isEdit()"></tl-file-upload>
          <div ng-messages="outcomeForm.file.$error">
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
            <div ng-message="size" translate translate-values="{ SIZE: getUploadFileSize() }">GENERAL.FORM.MESSAGES.FILE_SIZE</div>
          </div>
        </md-input-container>

        <md-content ng-if="isEdit()">
          <md-subheader><translate>VIEWS.PROJECT.CREATE_UPDATE_OUTCOME.VERSIONS</translate></md-subheader>
          <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="version in versions">
              <md-icon md-font-set="mdi" md-font-icon="{{ getIcon(version) }}" class="md-avatar-icon"></md-icon>
              <div class="md-list-item-text" layout="column">
                <h3><a ng-href="{{ ::getVersionDownloadLink(version) }}" target="_blank">{{ ::$index+1 }}. {{ ::version.file.name }}</a></h3>
                <h4>{{ ::version.created | tlDate : true }}</h4>
                <p>{{ ::bytesToHumanReadable(version.file.size) }}</p>
              </div>
              <img ng-src="{{ ::getUserImage(version.creator) }}" class="md-avatar" alt="icon" title="{{ ::getUserFullName(version.creator) }}" draggable="false"/>
              <md-icon class="md-secondary" ng-click="downloadVersion($event, version)" aria-label="Download">file_download</md-icon>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-switch ng-show="isEdit()" ng-disabled="updating" ng-model="activateDelete" aria-label="{{ 'GENERAL.ACTIVATE_DELETE' | translate }}" class="md-warn">
      </md-switch>
      <md-button ng-show="isEdit()" ng-disabled="!activateDelete || updating" ng-click="delete()" translate="GENERAL.DELETE" aria-label="{{ 'GENERAL.DELETE' | translate }}" class="md-warn"></md-button>
      <md-button ng-click="cancel()" ng-disabled="updating" translate="GENERAL.CANCEL" aria-label="{{ 'GENERAL.CANCEL' | translate }}"></md-button>
      <md-button ng-show="!isEdit()" type="submit" class="md-accent" ng-disabled="updating || outcomeForm.$invalid || !canSubmit()" translate="GENERAL.CREATE" aria-label="{{ 'GENERAL.CREATE' | translate }}"></md-button>
      <md-button ng-show="isEdit()" type="submit" class="md-accent" ng-disabled="updating || outcomeForm.$invalid || !canSubmit()" translate="GENERAL.UPDATE" aria-label="{{ 'GENERAL.UPDATE' | translate }}"></md-button>


    </md-dialog-actions>
  </form>
</md-dialog>
