<md-dialog-actions layout="row">
  <md-button ng-if="!firstTab" translate="VIEWS.PROJECT_LIST.CREATE_UPDATE_PROJECT.BACK_BTN" ng-click="prevTab()"></md-button>
  <span flex></span>
  <md-button ng-if="!lastTab" class="md-accent" ng-disabled="nextDisabled" translate="VIEWS.PROJECT_LIST.CREATE_UPDATE_PROJECT.NEXT_BTN" ng-click="nextTab()"></md-button>
  <md-button ng-if="lastTab" type="submit" class="md-accent" ng-disabled="submitDisabled" translate="VIEWS.PROJECT_LIST.CREATE_UPDATE_PROJECT.BTN.CREATE"></md-button>
</md-dialog-actions>
