<div layout="row" layout-align="center" ng-if="userEmail">
  <md-card flex="100" flex-gt-sm="noshrink" style="max-width: 500px">
    <md-progress-linear md-mode="indeterminate" ng-show="updating"></md-progress-linear>

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>VIEWS.CONFIRMATION.HEADLINE</span>
        <span class="md-subhead" translate>VIEWS.CONFIRMATION.SUBHEAD</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <form name="registerForm" ng-submit="confirmUser()" ng-hide="confirmationSuccessful">
        <md-input-container class="md-icon-float md-block">
          <label translate>GENERAL.EMAIL</label>
          <md-icon>email</md-icon>
          <input name="email" ng-model="userEmail" type="email" disabled>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label translate>GENERAL.FIRST_NAME</label>
          <md-icon>person</md-icon>
          <input name="firstName" ng-model="form.name.first" type="text" required>
          <div ng-messages="registerForm.firstName.$error">
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label translate>GENERAL.LAST_NAME</label>
          <md-icon>person</md-icon>
          <input name="lastName" ng-model="form.name.last" type="text" required>
          <div ng-messages="registerForm.lastName.$error">
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label translate>GENERAL.PASSWORD</label>
          <md-icon>vpn_key</md-icon>
          <input name="password" ng-model="form.password" type="password" required>
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label translate>GENERAL.FORM.REPEAT_PASSWORD</label>
          <md-icon>vpn_key</md-icon>
          <input name="password2" ng-model="form.password2" type="password" pw-check="form.password" required>
          <div ng-messages="registerForm.password2.$error">
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
            <div ng-message="pwmatch" translate>GENERAL.FORM.MESSAGES.PASSWORD_MATCH</div>
          </div>
        </md-input-container>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" type="submit" ng-disabled="registerForm.$invalid || updating" translate="VIEWS.CONFIRMATION.REGISTER_BTN" aria-label="{{ 'VIEWS.CONFIRMATION.REGISTER_BTN' | translate }}"></md-button>
        </md-card-actions>
      </form>
    </md-card-content>
  </md-card>
</div>
