<div>
  <div layout="row" layout-align="center">
    <img src="images/logo.png" alt="Timeliner Logo">
    <span class="md-display-4" translate>GENERAL.TIMELINER</span>
  </div>
  <div layout="row" layout-align="center" ng-if="!isLoggedIn()">
    <md-card flex="100" flex-gt-sm="noshrink" style="max-width: 600px">
      <md-progress-linear md-mode="indeterminate" ng-show="updating"></md-progress-linear>
      <md-card-title>
        <md-card-title-text class="tl-text-align-center">
          <span class="md-headline" translate ng-hide="success">VIEWS.LANDING.HEADLINE</span>
          <span class="md-headline" translate ng-show="success">VIEWS.LANDING.HEADLINE_USER_CREATED</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content ng-hide="success">
        <form name="registerForm" ng-submit="createUser()">
          <md-input-container class="md-icon-float md-block">
            <label translate>GENERAL.EMAIL</label>
            <md-icon>email</md-icon>
            <input name="email" ng-model="register.email" type="email" required>
            <div ng-messages="registerForm.email.$error">
              <div ng-message="email" translate>GENERAL.FORM.MESSAGES.INVALID_EMAIL</div>
            </div>
          </md-input-container>
          <div layout="column" layout-align="start center">

              <div vc-recaptcha key="captchaKey" theme="dark" ng-model="register.captchaResponse" class="animated fadeInDown" ng-if="!registerForm.email.$pristine"></div>

              <md-button class="md-raised md-accent larger" type="submit" ng-disabled="updating || registerForm.$invalid" translate="VIEWS.CONFIRMATION.REGISTER_BTN" aria-label="Register"></md-button>

          </div>
        </form>
        <h5 layout="row" layout-align="center center" md-colors="::{color: 'primary-300'}" translate>VIEWS.LOGIN.REGISTER_WITH_SOCIAL_NETWORK</h5>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-icon-button tl-facebook-button" aria-label="{{ 'VIEWS.LOGIN.FB_BTN_TOOLTIP' | translate }}" type="button" ng-disabled="updating" ng-click="">
            <md-tooltip md-direction="top" class="tooltip-text">
              <translate>VIEWS.LOGIN.FB_BTN_TOOLTIP</translate>
            </md-tooltip>
            <md-icon md-font-set="mdi" md-font-icon="mdi-facebook"></md-icon>
          </md-button>
          <md-button class="md-raised md-icon-button tl-google-button" aria-label="{{ 'VIEWS.LOGIN.GOOGLE_BTN_TOOLTIP' | translate }}" type="button" ng-disabled="updating" ng-click="">
            <md-tooltip md-direction="top" class="tooltip-text">
              <translate>VIEWS.LOGIN.GOOGLE_BTN_TOOLTIP</translate>
            </md-tooltip>
            <md-icon md-font-set="mdi" md-font-icon="mdi-google-plus"></md-icon>
          </md-button>
          <md-button class="md-raised md-icon-button tl-linkedin-button" aria-label="{{ 'VIEWS.LOGIN.LINKEDIN_BTN_TOOLTIP' | translate }}" type="button" ng-disabled="updating" ng-click="">
            <md-tooltip md-direction="top" class="tooltip-text">
              <translate>VIEWS.LOGIN.LINKEDIN_BTN_TOOLTIP</translate>
            </md-tooltip>
            <md-icon md-font-set="mdi" md-font-icon="mdi-linkedin"></md-icon>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div layout="row" layout-align="center center" ng-if="!isLoggedIn()">
    <translate>VIEWS.LANDING.ALREADY_MEMBER</translate>
    <md-button class="md-accent" ui-sref="login" translate="NAVBAR.LOGIN_BTN" aria-label="{{ 'NAVBAR.LOGIN_BTN' | translate}}"></md-button>
  </div>
</div>
