<div layout="row" layout-align="center">
  <md-card flex="100" flex-gt-sm="noshrink" style="max-width: 400px">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Welcome back!</span>
        <span class="md-subhead">Log in</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <form name="loginForm" ng-submit="login()" uib-collapse="isLoggedIn()">
        <md-input-container class="md-icon-float md-block">
          <label>Email</label>
          <md-icon>email</md-icon>
          <input name="email" ng-model="model.email" type="email" required>
          <div ng-messages="loginForm.email.$error">
            <div ng-message="required">This is required!</div>
            <div ng-message="email">This doesn't look like an email</div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Password</label>
          <md-icon>vpn_key</md-icon>
          <input name="password" ng-model="model.password" type="password" required>
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" type="submit" ng-disabled="loginForm.$invalid || updating">Sign in</md-button>
        </md-card-actions>
      </form>
    </md-card-content>
  </md-card>

</div>
