<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Welcome to Timeliner! Enter your email to start lining your time.
  </p>

  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Enter your email...">
    <span class="input-group-btn">
      <button class="btn btn-success" type="button">Register!</button>
    </span>
  </div>
  <span>Already a member? <a ui-sref="login">Log in</a></span>
</div>
