<div layout="row" ng-if="isLoggedIn()">
  <md-button class="md-raised md-accent" type="submit" ng-click="createNewProject($event)" translate="VIEWS.PROJECT_LIST.NEW_PROJECT_BTN" aria-label="{{ ::'VIEWS.PROJECT_LIST.NEW_PROJECT_BTN' | translate }}"></md-button>
</div>
<!-- TODO make registration as a part of route resolving and redirect to a standalone view-->
<div ng-include src="'views/register.html'" ng-if="!isLoggedIn()"></div>

<div ng-if="isLoggedIn()">
  <h2 translate>VIEWS.PROJECT_LIST.HEADLINE</h2>

  <div layout="row" layout-align="end" layout-padding="5">
    <div flex="50" translate>VIEWS.PROJECT_LIST.LIST_TITLES.TITLE</div>
    <div flex="10" translate>VIEWS.PROJECT_LIST.LIST_TITLES.START_DATE</div>
    <div flex="10" translate>VIEWS.PROJECT_LIST.LIST_TITLES.END_DATE</div>
    <div flex="10" translate>VIEWS.PROJECT_LIST.LIST_TITLES.OWNER</div>
    <div flex="20" translate>VIEWS.PROJECT_LIST.LIST_TITLES.PARTICIPANTS</div>
    <div flex="5" translate>VIEWS.PROJECT_LIST.LIST_TITLES.ACTIONS</div>
  </div>

  <md-list>
    <div> <!-- TODO only show this block if user has pending projects (and list them here) -->
      <md-subheader class="md-no-sticky"><span translate>VIEWS.PROJECT_LIST.PENDING</span></md-subheader>
      <md-list-item class="secondary-button-padding" ng-click="openProject()">
        <div flex="50">Something pending</div>
        <div flex="10">27.08.2016</div>
        <div flex="10">30.08.2018</div>
        <div flex="10">Mati Mets</div>
        <div flex="20">{{ ::displayParticipants(project.participants) }}</div>
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="More options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin>more_vert</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button class="md-accent" ng-click="doJoin($event)" aria-label="{{ 'VIEWS.PROJECT_LIST.JOIN' | translate }}">
                <md-icon md-menu-align-target>check_circle</md-icon>
                <span translate>VIEWS.PROJECT_LIST.JOIN</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button disabled="disabled" ng-click="doDecline()" aria-label="{{ 'VIEWS.PROJECT_LIST.DECLINE' | translate }}">
                <md-icon>cancel</md-icon>
                <span translate>VIEWS.PROJECT_LIST.DECLINE</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-list-item>
      <md-subheader class="md-no-sticky"><span translate>VIEWS.PROJECT_LIST.ACTIVE</span></md-subheader>
      <md-divider></md-divider>
    </div>

    <md-list-item class="secondary-button-padding" ng-repeat="project in projects" ng-click="openProject()">
      <div flex="50">{{ ::project.title }}</div> <!-- TODO remove this duplication of list items (except for menu buttons) -->
      <div flex="10">{{ ::displayDate(project.start) }}</div>
      <div flex="10">{{ ::displayDate(project.end) }}</div>
      <div flex="10">{{ ::(project.owner.name.first + ' ' + project.owner.name.last) }}</div>
      <div flex="20">
        <!-- TODO make these chips/badges functional -->
        <md-chips>
          <md-chip class="accent">
            <md-tooltip md-direction="down" class="tooltip-text">Participants</md-tooltip>
            <md-icon>person</md-icon>
            36
          </md-chip>
          <md-chip class="primary">
            <md-tooltip md-direction="down" class="tooltip-text">Pending</md-tooltip>
            <md-icon>person_add</md-icon>
            3
          </md-chip>
          <md-chip class="warn">
            <md-tooltip md-direction="down" class="tooltip-text">Rejected / placeholders</md-tooltip>
            <md-icon>person_outline</md-icon>
            1
          </md-chip>
        </md-chips>
      </div>

      <md-menu md-position-mode="target-right target">
        <md-button aria-label="More options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin>more_vert</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="doEdit()" aria-label="VIEWS.PROJECT_LIST.EDIT">
              <md-icon md-menu-align-target>edit</md-icon>
              <span translate>VIEWS.PROJECT_LIST.EDIT</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-disabled="!canLeaveProject(project)" ng-click="doLeave()" aria-label="{{ 'VIEWS.PROJECT_LIST.LEAVE' | translate }}">
              <md-icon>cancel</md-icon>
              <span translate>VIEWS.PROJECT_LIST.LEAVE</span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button class="md-warn" ng-disabled="!canDeleteProject(project)" ng-click="doDelete()" aria-label="{{ 'VIEWS.PROJECT_LIST.DECLINE' | translate }}">
              <md-icon>delete_forever</md-icon>
              <span translate>VIEWS.PROJECT_LIST.DELETE</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</div>
