<md-content ng-cloak>
  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="project in projects">
        <div class="md-list-item-text">
          <h3>{{ ::project.title }} ({{ ::project.participants.length }})</h3>
          <h4>
            <translate>VIEWS.MANAGE.PROJECTS.CREATOR</translate>: {{ ::getUserFullName(project.creator) }}
            <translate>VIEWS.PROJECT_LIST.LIST_TITLES.OWNER</translate>: {{ ::getUserFullName(project.owner) }}
          </h4>
          <p>
            <translate>VIEWS.PROJECT_LIST.LIST_TITLES.START_DATE</translate>: {{ ::project.start }}
            <translate>VIEWS.PROJECT_LIST.LIST_TITLES.END_DATE</translate>: {{ ::project.end }}
            <translate>GENERAL.CREATED</translate>: {{ ::project.created }}
            <translate>GENERAL.UPDATED</translate>: {{ ::project.updated }}
          </p>
        </div>
        <md-button class="md-secondary" translate="GENERAL.OPEN"></md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</md-content>
