<md-content ng-cloak>
  <md-list>
    <md-list-item ng-repeat="user in users" ng-click="showUserProfile(user, $event)">
      <img alt="{{ ::getUserFullName(user) }}" ng-src="{{ ::user.image || 'images/profile128.png' }}" class="md-avatar" />
      <p>{{ ::getUserFullName(user) }}</p>
      <md-icon md-font-set="mdi" md-font-icon="mdi-account-convert" ng-click="addRemoveAdmin(user, $event)" class="md-secondary" ng-class="{ 'tl-add': !user.isAdmin, 'tl-remove': user.isAdmin }" ng-disabled="isAdminActionDisabled(user)"></md-icon>
    </md-list-item>
  </md-list>
</md-content>
