<md-list ng-cloak>
<md-subheader class="md-no-sticky">
  <md-button class="md-icon-button" aria-label="Back" ng-click="goBack()">
    <md-icon>navigate_before</md-icon>
  </md-button>
  Users
</md-subheader>
<md-list-item ng-repeat="user in users" ng-click="showUserProfile(user, $event)" aria-label="Show user profile">
  <img alt="{{ getFullName(user) }}" ng-src="{{ user.image || 'images/profile128.png' }}" class="md-avatar" />
  <p>{{ getFullName(user) }}</p>
  <md-icon md-font-set="mdi" md-font-icon="mdi-account-convert" ng-click="addRemoveAdmin(user, $event)" aria-label="Add or Remove admin" class="md-secondary" ng-class="{ 'tl-add': !user.isAdmin, 'tl-remove': user.isAdmin }"></md-icon>
</md-list-item>
</md-list>
