<div layout="row" layout-align="center" ng-if="!isLoggedIn()">
  <md-card flex="100" flex-gt-sm="noshrink" style="max-width: 400px" ng-if="!isReset() || ( isReset() && isValidKey )">
    <md-progress-linear md-mode="indeterminate" ng-show="updating"></md-progress-linear>

    <md-card-title>
      <md-card-title-text ng-hide="success">
        <span class="md-headline" translate>VIEWS.PASSWORD_RESET.HEADLINE</span>
        <span class="md-subhead" translate>VIEWS.PASSWORD_RESET.SUBHEAD</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content ng-if="!isReset()">
      <form name="requestForm" ng-submit="submitResetRequest()" ng-hide="success">
        <md-input-container class="md-icon-float md-block">
          <label translate>GENERAL.EMAIL</label>
          <md-icon>email</md-icon>
          <input name="email" ng-model="model.email" type="email" ng-disabled="updating" required>
          <div ng-messages="requestForm.email.$error">
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
            <div ng-message="email" translate>GENERAL.FORM.MESSAGES.INVALID_EMAIL</div>
          </div>
        </md-input-container>

        <div layout="column" layout-align="start center">
          <div vc-recaptcha key="captchaKey" theme="dark" ng-model="model.captchaResponse" class="animated fadeInDown" ng-if="!requestForm.email.$pristine"></div>
        </div>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" type="submit" ng-disabled="requestForm.$invalid || updating" translate="VIEWS.PASSWORD_RESET.REQUEST_RESET_BTN" aria-label="{{ 'VIEWS.PASSWORD_RESET.REQUEST_RESET_BTN' | translate }}"></md-button>
        </md-card-actions>
      </form>

      <div ng-show="success" class="md-headline tl-text-align-center" translate>VIEWS.PASSWORD_RESET.EMAIL_SENT</div>
    </md-card-content>

    <md-card-content ng-if="isReset() && isValidKey">
      <form name="resetForm" ng-submit="submitReset()" ng-hide="success">
        <md-input-container class="md-icon-float md-block">
          <label translate>GENERAL.EMAIL</label>
          <md-icon>email</md-icon>
          <input name="email" ng-model="model.email" type="email" required>
          <div ng-messages="resetForm.email.$error">
            <div ng-message="email" translate>GENERAL.FORM.MESSAGES.INVALID_EMAIL</div>
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label translate>GENERAL.PASSWORD</label>
          <md-icon>vpn_key</md-icon>
          <input name="password" ng-model="model.password" type="password" required>
          <div ng-messages="resetForm.password.$error">
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label translate>GENERAL.FORM.REPEAT_PASSWORD</label>
          <md-icon>vpn_key</md-icon>
          <input name="password2" ng-model="model.password2" type="password" pw-check="model.password" required>
          <div ng-messages="resetForm.password2.$error">
            <div ng-message="required" translate>GENERAL.FORM.MESSAGES.REQUIRED</div>
            <div ng-message="pwmatch" translate>GENERAL.FORM.MESSAGES.PASSWORD_MATCH</div>
          </div>
        </md-input-container>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" type="submit" ng-disabled="resetForm.$invalid || updating" translate="VIEWS.PASSWORD_RESET.RESET_BTN" aria-label="{{ 'VIEWS.PASSWORD_RESET.RESET_BTN' | translate }}"></md-button>
        </md-card-actions>
      </form>
    </md-card-content>
  </md-card>
</div>
