<md-progress-linear md-mode="indeterminate" ng-show="loadingData"></md-progress-linear>

<div layout="row" layout-align="none center" ng-cloak ng-hide="loadingData">
  <md-fab-speed-dial md-open="fabOpen" md-direction="right" class="md-fling">
    <md-fab-trigger>
      <md-button aria-label="{{ 'VIEWS.PROJECT.NEW_BTN.TITLE' | translate }}" class="md-fab md-accent md-mini">
        <md-tooltip md-direction="bottom">
          <translate>VIEWS.PROJECT.NEW_BTN.TITLE</translate>
        </md-tooltip>
        <md-icon md-font-set="mdi" md-font-icon="mdi-plus"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="{{ 'VIEWS.PROJECT.NEW_BTN.RESOURCE' | translate }}" class="md-fab md-raised md-mini" ng-click="addOrUpdateResource($event)">
        <md-tooltip md-direction="bottom">
          <translate>VIEWS.PROJECT.NEW_BTN.RESOURCE</translate>
        </md-tooltip>
        <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-resource"></md-icon>
      </md-button>
      <md-button aria-label="{{ 'VIEWS.PROJECT.NEW_BTN.TASK' | translate }}" class="md-fab md-raised md-mini" ng-click="addOrUpdateTask()">
        <md-tooltip md-direction="bottom">
          <translate>VIEWS.PROJECT.NEW_BTN.TASK</translate>
        </md-tooltip>
        <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-task"></md-icon>
      </md-button>
      <md-button aria-label="{{ 'VIEWS.PROJECT.NEW_BTN.ANNOTATION' | translate }}" class="md-fab md-raised md-mini" ng-click="addOrUpdateAnnotation($event)">
        <md-tooltip md-direction="bottom">
          <translate>VIEWS.PROJECT.NEW_BTN.ANNOTATION</translate>
        </md-tooltip>
        <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-note"></md-icon>
      </md-button>
      <md-button aria-label="{{ 'VIEWS.PROJECT.NEW_BTN.MILESTONE' | translate }}" class="md-fab md-raised md-mini" ng-click="addOrUpdateMilestone($event)">
        <md-tooltip md-direction="bottom">
          <translate>VIEWS.PROJECT.NEW_BTN.MILESTONE</translate>
        </md-tooltip>
        <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-milestone"></md-icon>
      </md-button>
      <md-button aria-label="{{ 'VIEWS.PROJECT.NEW_BTN.OUTCOME' | translate }}" class="md-fab md-raised md-mini" ng-click="addOrUpdateOutcome($event)">
        <md-tooltip md-direction="bottom">
          <translate>VIEWS.PROJECT.NEW_BTN.OUTCOME</translate>
        </md-tooltip>
        <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-file"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>

  <span flex></span>
  <md-button class="md-icon-button" aria-label="{{ 'VIEWS.PROJECT.ACTIONS.MOVE_LEFT' | translate }}" type="button" ng-click="timelineMoveLeft($event)">
    <md-tooltip md-direction="top">
      <translate>VIEWS.PROJECT.ACTIONS.MOVE_LEFT</translate>
    </md-tooltip>
    <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-left"></md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="{{ 'VIEWS.PROJECT.ACTIONS.MOVE_RIGHT' | translate }}" type="button" ng-click="timelineMoveRight($event)">
    <md-tooltip md-direction="top">
      <translate>VIEWS.PROJECT.ACTIONS.MOVE_RIGHT</translate>
    </md-tooltip>
    <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-right"></md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="{{ 'VIEWS.PROJECT.ACTIONS.ZOOM_IN' | translate }}" type="button" ng-click="timelineZoomIn($event)">
    <md-tooltip md-direction="top">
      <translate>VIEWS.PROJECT.ACTIONS.ZOOM_IN</translate>
    </md-tooltip>
    <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-in"></md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="{{ 'VIEWS.PROJECT.ACTIONS.ZOOM_OUT' | translate }}" type="button" ng-click="timelineZoomOut($event)">
    <md-tooltip md-direction="top">
      <translate>VIEWS.PROJECT.ACTIONS.ZOOM_OUT</translate>
    </md-tooltip>
    <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-out"></md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="{{ 'VIEWS.PROJECT.ACTIONS.FIT_TO_SCREEN' | translate }}" type="button" ng-click="timelineFitToScreen($event)">
    <md-tooltip md-direction="top">
      <translate>VIEWS.PROJECT.ACTIONS.FIT_TO_SCREEN</translate>
    </md-tooltip>
    <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-resize"></md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="{{ 'VIEWS.PROJECT.ACTIONS.RESET_PANELS' | translate }}" type="button" ng-click="resetPanels($event)">
    <md-tooltip md-direction="top">
      <translate>VIEWS.PROJECT.ACTIONS.RESET_PANELS</translate>
    </md-tooltip>
    <md-icon md-font-set="mdi" md-font-icon="mdi-window-restore"></md-icon>
  </md-button>
</div>

<p ng-hide="loadingData">Project <strong>{{ project.title }}</strong> loaded!</p>

<div layout-gt-sm="row" layout="column" ng-hide="loadingData">
  <div flex-gt-sm="20" flex>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span translate>VIEWS.PROJECT.PANELS.PARTICIPANTS.HEADER</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="participant in project.participants" draggable="true" ondragstart="objectDragStart(event)" data-tl-drag-id="{{ ::participant._id }}" data-tl-drag-type="participant">
          <img ng-src="{{ ::getUserImage(participant.user) }}" class="md-avatar" alt="{{ ::getUserFullName(participant.user) }}" draggable="false"/>
          <div class="md-list-item-text" layout="column">
            <h3>{{ ::getUserFullName(participant.user) }}</h3>
            <h4>{{ :: participant.status }}</h4>
            <p>{{ participant.user.email }}</p>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <md-divider></md-divider>

  <div flex-gt-sm="20" flex ng-controller="ResourcesPanelCtrl">
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span translate>VIEWS.PROJECT.PANELS.RESOURCES.HEADER</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="resource in resources" draggable="true" ondragstart="objectDragStart(event)" data-tl-drag-id="{{ ::resource._id }}" data-tl-drag-type="resource">
          <md-icon md-font-set="mdi" md-font-icon="{{ getIcon(resource) }}" class="md-avatar-icon"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>{{ resource.title }}</h3>
            <h4>{{ resource.description }}</h4>
            <p>{{ :: resource.url || resource.file.name }}</p>
          </div>
          <md-icon class="md-secondary" ng-click="openResource($event, resource)" aria-label="Open or Download">{{ ::getResourceOpenIcon(resource) }}</md-icon>
          <md-icon class="md-secondary" ng-click="addOrUpdateResource($event, resource)" aria-label="Edit">mode_edit</md-icon>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <md-divider></md-divider>

  <div flex-gt-sm="20" flex>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span translate>VIEWS.PROJECT.PANELS.OUTCOMES.HEADER</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="outcome in projectTimelineData.outcomes">
          <md-icon md-font-set="icomoon-timeliner" md-font-icon="icon-file" class="md-avatar-icon"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>{{ outcome.title }}</h3>
            <h4>{{ outcome.description }}</h4>
            <p>{{ ::outcome.created | tlDate }}</p>
          </div>
          <md-icon class="md-secondary" ng-click="addOrUpdateOutcome($event, outcome)" aria-label="Edit">mode_edit</md-icon>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <md-divider></md-divider>

  <div flex-gt-sm="20" flex>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span translate>VIEWS.PROJECT.PANELS.TASKS.HEADER</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="task in projectTimelineData.tasks" ondrop="objectDropped(event)" ondragover="allowDrop(event)"  ondragleave="dragTargetEnd(event)" data-tl-drop-id="{{ ::task._id }}" data-tl-drop-type="task">
          <img ng-src="{{ ::getUserImage(task.user) }}" class="md-avatar" alt="{{ ::getUserFullName(task.user) }}" draggable="false"/>
          <div class="md-list-item-text" layout="column">
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
          </div>
          <md-icon class="md-secondary" ng-click="addOrUpdateTask($event, task)" aria-label="Edit">mode_edit</md-icon>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <md-divider></md-divider>

  <div flex-gt-sm="20" flex>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span translate>VIEWS.PROJECT.PANELS.ACTIVITY_STREAM.HEADER</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
      </md-list>
    </md-content>
  </div>
</div>

<div ng-hide="loadingData">
  <project-timeline data="projectTimelineData"></project-timeline>
</div>
