<div layout="row" layout-align="end" layout-padding="5">
  <div flex="50" translate>VIEWS.PROJECT_LIST.LIST_TITLES.TITLE</div>
  <div flex="10" translate>VIEWS.PROJECT_LIST.LIST_TITLES.START_DATE</div>
  <div flex="10" translate>VIEWS.PROJECT_LIST.LIST_TITLES.END_DATE</div>
  <div flex="10" translate>VIEWS.PROJECT_LIST.LIST_TITLES.OWNER</div>
  <div flex="20" translate>VIEWS.PROJECT_LIST.LIST_TITLES.PARTICIPANTS</div>
  <div flex="5" translate>VIEWS.PROJECT_LIST.LIST_TITLES.ACTIONS</div>
</div>

<md-list>
  <div ng-if="pendingProjects && pendingProjects.length > 0">
    <md-subheader class="md-no-sticky"><translate>VIEWS.PROJECT_LIST.PENDING</translate></md-subheader>
    <md-list-item class="secondary-button-padding" ng-repeat="project in pendingProjects" ng-click="openProject()">
      <div flex="50">{{ ::project.title }}</div>
      <div flex="10">{{ ::displayDate(project.start) }}</div>
      <div flex="10">{{ ::displayDate(project.end) }}</div>
      <div flex="10">{{ ::getUserFullName(project.owner) }}</div>
      <div flex="20">{{ ::displayParticipants(project.participants) }}</div>
      <md-menu md-position-mode="target-right target">
        <md-button ng-disabled="updating" aria-label="{{ 'VIEWS.PROJECT_LIST.LIST_TITLES.ACTIONS' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin>more_vert</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button class="md-accent" ng-click="doJoin(project, $index, $event)" aria-label="{{ 'VIEWS.PROJECT_LIST.JOIN' | translate }}">
              <md-icon md-menu-align-target>check_circle</md-icon>
              <translate>VIEWS.PROJECT_LIST.JOIN</translate>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="doDecline(project, $index, $event)" aria-label="{{ 'VIEWS.PROJECT_LIST.DECLINE' | translate }}">
              <md-icon>cancel</md-icon>
              <translate>VIEWS.PROJECT_LIST.DECLINE</translate>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-list-item>
    <md-divider></md-divider>
  </div>

  <div ng-if="activeProjects && activeProjects.length > 0">
    <md-subheader class="md-no-sticky"><translate>VIEWS.PROJECT_LIST.ACTIVE</translate></md-subheader>
    <md-list-item class="secondary-button-padding" ng-repeat="project in activeProjects" ng-click="openProject()">
      <div flex="50">{{ ::project.title }}</div> <!-- TODO remove this duplication of list items (except for menu buttons) -->
      <div flex="10">{{ ::displayDate(project.start) }}</div>
      <div flex="10">{{ ::displayDate(project.end) }}</div>
      <div flex="10">{{ ::getUserFullName(project.owner) }}</div>
      <div flex="20">
        <!-- TODO make these chips/badges functional -->
        <md-chips>
          <md-chip class="accent">
            <md-tooltip md-direction="down" class="tooltip-text">Participants</md-tooltip>
            <md-icon>person</md-icon>
            36
          </md-chip>
          <md-chip class="primary">
            <md-tooltip md-direction="down" class="tooltip-text">Pending</md-tooltip>
            <md-icon>person_add</md-icon>
            3
          </md-chip>
          <md-chip class="warn">
            <md-tooltip md-direction="down" class="tooltip-text">Rejected / placeholders</md-tooltip>
            <md-icon>person_outline</md-icon>
            1
          </md-chip>
        </md-chips>
      </div>

      <md-menu md-position-mode="target-right target">
        <md-button aria-label="{{ 'VIEWS.PROJECT_LIST.LIST_TITLES.ACTIONS' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin>more_vert</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="doEdit()" aria-label="{{ 'VIEWS.PROJECT_LIST.EDIT' | translate }}">
              <md-icon md-menu-align-target>edit</md-icon>
              <translate>VIEWS.PROJECT_LIST.EDIT</translate>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-disabled="::!canLeaveProject(project)" ng-click="doLeave(project, $index, $event)" aria-label="{{ 'VIEWS.PROJECT_LIST.LEAVE' | translate }}">
              <md-icon>cancel</md-icon>
              <translate>VIEWS.PROJECT_LIST.LEAVE</translate>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-if="!isShownOnTimeline(project)">
            <md-button ng-click="doShowOnTimeline(project, $event)" aria-label="{{ 'VIEWS.PROJECT_LIST.SHOW_ON_TIMELINE' | translate }}">
              <md-icon md-font-set="mdi" md-font-icon="mdi-eye"></md-icon>
              <translate>VIEWS.PROJECT_LIST.SHOW_ON_TIMELINE</translate>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-if="isShownOnTimeline(project)">
            <md-button ng-click="doHideFromTimeline(project, $event)" aria-label="{{ 'VIEWS.PROJECT_LIST.HIDE_FROM_TIMELINE' | translate }}">
              <md-icon md-font-set="mdi" md-font-icon="mdi-eye-off"></md-icon>
              <translate>VIEWS.PROJECT_LIST.HIDE_FROM_TIMELINE</translate>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button class="md-warn" ng-disabled="::!canDeleteProject(project)" ng-click="doDelete(project, $index, $event)" aria-label="{{ 'VIEWS.PROJECT_LIST.DECLINE' | translate }}">
              <md-icon>delete_forever</md-icon>
              <translate>VIEWS.PROJECT_LIST.DELETE</translate>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-list-item>
    <md-divider></md-divider>
  </div>
</md-list>
