<div ng-controller="RegisterCtrl">
  <div layout="row" layout-align="center">
    <img src="images/logo.png" alt="Timeliner Logo">
    <span class="md-display-4" translate>GENERAL.TIMELINER</span>
  </div>
  <div layout="row" layout-align="center">
    <md-card flex="100" flex-gt-sm="noshrink" style="max-width: 600px">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate>VIEWS.LANDING.HEADLINE</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <form name="registerForm" ng-submit="createUser()" ng-hide="success">
          <md-input-container class="md-icon-float md-block">
            <label translate>GENERAL.EMAIL</label>
            <md-icon>email</md-icon>
            <input name="email" ng-model="register.email" type="email" required>
            <div ng-messages="registerForm.email.$error">
              <div ng-message="email" translate>GENERAL.FORM.MESSAGES.INVALID_EMAIL</div>
            </div>
          </md-input-container>
          <div layout="column" layout-align="start center">

              <div vc-recaptcha key="captchaKey" theme="dark" ng-model="register.captchaResponse" class="animated fadeInDown" ng-if="!registerForm.email.$pristine"></div>

              <md-button class="md-raised md-accent larger" type="submit" ng-disabled="updating || registerForm.$invalid" translate="VIEWS.CONFIRMATION.REGISTER_BTN"></md-button>

          </div>
        </form>
        <div class="alert alert-success animated fadeInDown" ng-if="success">
          <translate>VIEWS.LANDING.TOASTS.SUCCESSES.USER_CREATED</translate>: <a ui-sref="confirm({key: success.key})">{{ success.key }}</a>
        </div>
        <div class="alert alert-danger animated fadeInDown" ng-if="error == 409">
          <translate>VIEWS.LANDING.TOASTS.ERRORS.EMAIL_EXISTS</translate>
        </div>
        <div class="alert alert-danger animated fadeInDown" ng-if="error && error != 409">
          <translate>GENERAL.TOASTS.ERRORS.SERVER_ERROR</translate>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div layout="row" layout-align="center center">
    <translate>VIEWS.LANDING.ALREADY_MEMBER</translate>
    <md-button class="md-accent" ui-sref="login" translate="NAVBAR.LOGIN_BTN"></md-button>
  </div>
</div>
